<div class="navsection">
<div class="section">
  <div class="logosection" (click)=logolink()>
    <img src="../../assets/image/logo.webp">
  </div>
  <div class="navbarsection">
    <div class="nav"><a routerLink="/About_Us">About</a></div>
    <div class="nav"><a href="#">Experience</a></div>
    <div class="nav"><a href="#">Projects</a></div>
    <div class="nav"><a href="#">Contact</a></div>
    <div class="navbutton"><button onClick="download_file()"><a id="my_download" href="../../assets/image/Resume.pdf" download="Chunnu_Resume">Resume</a></button></div>
  </div>
</div>
</div>