<div class="main">
  <div class="container">
    <div class="aboutus">
      <div class="text">
        <div class="content">
          <p>Hello! My name is Chunnu Kumar and I enjoy creating things that live on the internet. My interest in web development started back in 2018 when I decided to try creating some designs for web pages — turns out hacking together a custom reblog button taught me a lot about HTML & CSS!
            Fast-forward to today, and I’ve had the privilege of working at a start-up company(service based) and then in a huge corporation(product based). My main focus these days is building web applications with reusable code and digital experiences at Monet Networks for a variety of clients.
            I also recently build some of my own projects to get user's video, face detection, location detector, Tour-Travels website and these days i've been working to build a chat application. You can view my projects at.</p>
            <p><a href="https://github.com/chunnusingh198" target="_blenk">My Github Account.</a></p>
        </div>
      </div>
      <div class="imagesection">
        <img src="../../assets/image/chunnu.jpg">
      </div>
    </div>
  </div>
</div>