.container {
  padding: 0% 10%;
}
.sellersection {
  background: #d9eff0;
}
.sellerfirstsection {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
}
.sellertext {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.sellerimg {
  display: flex;
  width: 50%;
}
.sellerimg img {
  width: 100%;
}
.sellertext h2 {
  margin: 0;
}
.startseling {
  padding: 11px 18px;
  width: fit-content;
  width: fit-content;
  background: rgb(4, 158, 158);
  color: white;
  border: none;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
}

table, td, th {
  border: 1px solid;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td img {
  width: 100%;
}
td.images {
  width: 20%;
}
.actionbutton {
  display: flex;
  justify-content: space-between;
}
