<div class="addpro">
  <h3>Update Product Form</h3>
  <div class="productadd">
    <form [formGroup]="updateform" class="addform">
      <label>Product Name</label>
      <input type="text" placeholder="Enter Product Name" ngModel="{{productdata?.productname}}" formControlName="productname">
      <label>Price</label>
      <input type="number" placeholder="Enter Product Price" ngModel="{{productdata?.price}}" formControlName="price">
      <label>Product Details</label>
      <textarea type="text" placeholder="Enter Product Details" ngModel="{{productdata?.productDetails}}" formControlName="productDetails"></textarea>
      <label>Product Image</label>
      <input type="text" placeholder="Enter Product image" ngModel="{{productdata?.image}}" formControlName="image">
      <!-- <input type="file" (change)="onFileChanged($event)" accept=".jpg,.png"> -->
      <button type="button" (click)="upproduct($event)" class="addbutton" [disabled]="updateform.invalid">Update</button>
    </form>
  </div>
</div>
