<div class="seller">
  <!--signup form-->
  <div class="sibnup" *ngIf="!showform">
    <h2>Seller Sibn-up Form</h2>
    <form class="common_form" [formGroup]="signupform">
      <input class="" type="text" placeholder="Enter Name" formControlName="name">
      <input class="" type="password" placeholder="Enter Password" formControlName="password">
      <input class="" type="email" placeholder="Enter Email" formControlName="email">
      <button type="button" class="sig" (click)="submit()"[disabled]="signupform.invalid">SignUp</button>
    </form>
    <h3>Already Have Account? <a (click)="opensignup()"> Click to Login</a></h3>
  </div>
  <!--login form-->
  <div class="sibnup" *ngIf="showform">
    <h2>Seller Login Form</h2>
    <h3 style="color: brown;">{{iserror}}</h3>
    <form class="common_form" [formGroup]="loginform">
      <input class="" type="email" placeholder="Enter Email" formControlName="email">
      <input class="" type="password" placeholder="Enter Password" formControlName="password">
      <button type="button" class="sig" (click)="loginsubmt()"[disabled]="loginform.invalid">Login</button>
    </form>
    <h3>Don't Have Account? <a (click)="openlogin()"> Click to Sign-Up</a></h3>
  </div>
</div>
