<div class="main">
    <div class="container">
        <div class="introsection">
            <h4>Hi, My Name Is</h4>
            <h2>Chunnu Kumar</h2>
            <h2>I’m a software developer.</h2>
            <p>Secure a responsible career opportunity to fully utilize my training and skills, while making a significant contribution to the success of the company.</p>
            <div class="connect"><button class="introButton"><a href="https://github.com/chunnusingh198" target="_blenk">Connect with me</a></button></div>
        </div>
    </div>
</div>
