<div class="banner">
  <img src="../../assets/image/mobilebanner.avif">
</div>
<div class="container">
  <div class="showproduct">
    <div *ngFor="let data of list let i=index;" class="ngdata">
      <div class="first">
        <img src="{{data.image}}">
        <h2>{{data.productname}}</h2>
        <h2>{{data.price | currency:'INR'}}</h2>
        <h4>{{data.productDetails}}</h4>
        <div class="viwebutton">
          <button type="button">Viwe Details</button>
          <button type="button">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  </div>
